<div class="container">
	<h3 class="lead">A few notes about this dumb web toy...</h3>

	<div class="row">
		<div class="col-xs-3">
			<i class="aboutIcons glyphicon glyphicon-asterisk large"></i>
		</div>
		<div class="col-xs-9">
			<h3 >Speech Synthesis</h3>
			<p>
				The speech synthesis is accomplished 100% in the browser using <a href="http://www.masswerk.at/mespeak/">meSpeak.js</a>, client-side JavaScript text-to-speech library based on the <a href="https://github.com/kripken/speak.js/">speak.js</a> project.  Speak.js is an <a href="https://github.com/kripken/emscripten">Emscripten</a> port of the <a href="http://espeak.sourceforge.net/">C++ eSpeak library</a>.
			</p>

		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<i class="aboutIcons glyphicon glyphicon-asterisk large"></i>
		</div>
		<div class="col-xs-9">
			<h3>Design</h3>
			<p>
				The on-screen keyboard is pure CSS, designed by the talented Kentuckian <a href="http://dustincartwright.com/">Dustin Cartwright</a>.  The other elements are <a href="http://getbootstrap.com/">Bootstrap</a>.  Obviously.
			</p>

		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<i class="aboutIcons glyphicon glyphicon-asterisk large"></i>
		</div>
		<div class="col-xs-9">
			<h3>Mobile Support</h3>
			<p>
				Absolutely not.
			</p>

		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<i class="aboutIcons glyphicon glyphicon-asterisk large"></i>
		</div>
		<div class="col-xs-9">
			<h3>Other technologies used to make this</h3>
			<p>
				Angular.js, Angular UI (screen name modal), Grunt, Bower, Firebase
			</p>

		</div>
	</div>

</div>